In [1]:
import pandas as pd

In [3]:
matches = pd.read_csv("cleaned_2021_2022.csv", index_col=0)

In [5]:
matches.head()

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
Date,,,,,,,,,,,,,,,,,
2021-08-13,Brentford,Arsenal,2,0,H,8,22,3,4,2,5,12,8,0,0,0,0
2021-08-14,Man United,Leeds,5,1,H,16,10,8,3,5,4,11,9,1,2,0,0
2021-08-14,Burnley,Brighton,1,2,A,14,14,3,8,7,6,10,7,2,1,0,0
2021-08-14,Chelsea,Crystal Palace,3,0,H,13,4,6,1,5,2,15,11,0,0,0,0
2021-08-14,Everton,Southampton,3,1,H,14,6,6,3,6,8,13,15,2,0,0,0

matches.shape()

In [7]:
matches.shape

(380, 17)